.content-mission-vision,
.site-logo,
.features,
.skills,
.people-skill-sections,
.partners-image,
.team-image,
.w-h-h-text
{
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.content-mission-vision.animated,
.site-logo.animated,
.features.animated,
.people-skill-sections.animated,
.partners-image.animated,
.team-image.animated,
.w-h-h-text .animated
 {
    opacity: 1;
}
