@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);



@import url('typography.css');
@import url('card-style.css');
@import url('animations.css');


/*
	blue :1a2455 , 26,36,85;
	gray : a09a9a 160,154,154;
	yellow-green : 9abf0d, 154,191,13"
*/


*{
	margin: 0px;
	padding: 0px;
	
}

body,html{
	/*color: black;*/
	color: white;
}


body{
	font-size: 17px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 0;
}



/*#myVideo{
	
	width: 100%;
	height:520px;
	margin-bottom: 0px!important;
}*/

/*header*/
header{
	margin-top: 
	background:; /*0062fd,   dark blue :  #12326b*/
	width: 100%;
	height: ;
	/*linear-gradient(to right, #000099, #00cc00);*/
	/*background: url('../img/rawpixel-679094-unsplash.jpg');*/
}




.image{
		margin-top: 10px;

}


.site-logo{
	padding-bottom: 0px
}



#modal-close{
	background: transparent;
	color: #fff
}



#buttonKnowmore:hover {
  background-color: #12326b;
  color: white;
  transition: 0.3s;
}



#btnbacktoTop {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: rgba(18,50,107,0.8);
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}


#btnbacktoTop:hover{
	background: #12326b;
}


#btnbacktoTopTwo {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: rgba(18,50,107,0.8);
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}


#btnbacktoTopTwo:hover{
	background: #12326b;
}



.parallax{
    /* The image used */
    background-image: url("../img/rawpixel-679094-unsplash.jpg");
    width: 100%;
    /* Set a specific height */
    min-height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.parallax-video{
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;		
}



	.kwicks {
        width: 100%;
        height: 200px;
}


.kwicks > li {
		height: 100%;
        /* overridden by kwicks but good for when JavaScript is disabled */
        width: 125px;
        margin-left: 5px;
        float: left;
}

#panel-1 { background-color: #53b388; }
#panel-2 { background-color: #5a69a9; }
#panel-3 { background-color: #c26468; }
#panel-4 { background-color: #bf7cc7; }



.icon-bars {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 99;
  display: none;
}


.icon-bars a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}


.icon-bars a:hover {
  background-color: #000;
}


.typing-section{
	display:none;
	background-image: url("../img/comp.jpg");
    /* Create the parallax scrolling effect */
    width: 100%;
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

@media only screen and (max-width: 990px) {
	body{
		
	}


	.typing-section{
		display: block;

	}	

	#buttonKnowmore{
		background: ;
		position: relative;
		left:120px;
		margin-left: 50px
	}



	.image{
		padding-top: 15px
	}

	.video-section{
		display: none;
	}


}



@media only screen and (max-width: 767px) {
		#buttonKnowmore{
		position: relative;
		left:40px;
		margin-left: 50px

	}
}



/*header .cols{
	margin-top:15px;
}

header  a{
	
	color: white;
	font-size: 15px;
	cursor: context-menu;


}

header a:hover{
	color: inherit;
	text-decoration: none;


}

*/

/*nav*/

header .navbar{
	border-radius: 0;
	border:0;
	/*/*linear-gradient(to right, #000099, #00cc00);*/
	/*background: #676d66;*/
	background: ;
	margin-bottom: 0px!important;
	
    transition: all .5s ease-out;


}

header .navbar-default {
  /*background-color: transparent;*/
  background: rgba(22,19,180,.6);
  border: none;
}


header .navbar-nav a{
	font-size: 15px;

}


.navbar-nav li{
	margin-top: 15px;
}


header .navbar-default .navbar-nav a:hover {
	color:white;
	/*border-bottom: 2px solid #31b413*/
	background: transparent;
  	border-bottom: 4px solid #31b413;
  text-shadow: none;
}


header .navbar-default .navbar-nav .active a:hover {
	color:white;
	/*border-bottom: 2px solid #31b413*/
	background: transparent;
  	border-bottom: 4px solid #31b413;
  text-shadow: none;
}

header .inbody {
  /*background: rgba(104,73,49,.9);*/
  /*background: rgba(22,19,180,.9);*/
  background: #1a2455;
}

header .navbar.inbody {
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar-toggle {
  background-color: #31b413;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}



header .navbar-brand{
	color: white;
	background: url('../img/HHI Landscape Logo copy.png');
	background-repeat: no-repeat;
  	background-position: 15px 0;
 	height: auto;
}


.navbar .navbar-collapse .navbar-nav a{
	color: white;
	padding-bottom: 10px;

}

header .navbar-default .navbar-nav .active a {
  font-weight: 700;
  color: ;
  background: transparent;
  border-bottom: 4px solid #31b413;
  text-shadow: none;
}






/*.navbar .navbar-collapse .navbar-nav .dropdown-menu {
	background: #3f3f3f;
}

.navbar .navbar-collapse .navbar-nav a:hover{
	color: white;
	border-bottom: 3px solid green;
	background-color:none;


}


.navbar .navbar-collapse .navbar-nav a:active{
	color: white;
	border-bottom: 3px solid green;
	background-color:none;


}


.navbar .navbar-collapse .navbar-nav .dropdown-menu li a:hover{
	color: white;
	border-bottom: 3px solid green;
	background-color:none;
	

}


ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}
*/


/* Effect 3: bottom line slides/fades in */


/*.cl-effect-3 a {
	padding: 8px 0;
}

.navbar .navbar-collapse .navbar-nav a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: rgba(0,0,0,0.1);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.navbar .navbar-collapse .navbar-nav a:hover::after,
.navbar .navbar-collapse .navbar-nav a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}




/* Effect 4: bottom border enlarge */
/*.cl-effect-4 a {
	padding: 0 0 10px;
}

.navbar .navbar-collapse .navbar-nav a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.navbar .navbar-collapse .navbar-nav a a:hover::after,
.navbar .navbar-collapse .navbar-nav a a:focus::after {
	height: 5px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}*/





/*.navbar .navbar-collapse .navbar-nav a.active{
	color: black;
}*/



/*section mission*/

.main-body{
	background:;
	height: auto;
	color: black;

}

/*section.mission-vision{
	color: black;
	background:smoke;
}*/



section.mission-vision{
	margin-bottom: 30px;

}
section.why-hunters-hub{
	color: black;
	/*background-image: linear-gradient(to bottom, #12326b, #F3F4F8);*/
	
}

.features{
	 margin-bottom: 50px;

}


.three-box{
	background: #CFD8DC;
}

.magin-bottom-for-boxes{
	 margin-bottom: 50px;

}

section.core-values{
	color: black;
	background:;
	/*margin-bottom: 50px;*/
}


footer{
	background: #3f3f3f;
	
}


.header-footer{
	background: black;
	height: 30px;
}


footer ul li a.media-links{
	font-size: 25px;
}


.carousel-inner img {
  width:100%;
  height: 100%;
}


.section-mission{
	height: 100%;
	background: ;
}






/*.fa-social-media{
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 90%;
 
}*/





/*links*/

.media-links{
  
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
 
}

.media-links:hover {
    opacity: 0.7;
    color: white;
}


.facebook{
	  background: #3B5998;
      color: white;
      padding: 10px 16px ;
}


.twitter{
	  background: #55ACEE;
      color: white;
      padding: 10px 12px ;
}


.youtube{
	  background: #bb0000;
      color: white;
       padding: 10px 12px ;
}


.google{
	  background: #bb0000;  /*3B5998*/
      color: white;
       padding: 10px 12px ;
}

.linkedin{
	  background: #007bb5;
      color: white;
       padding: 10px 12px ;
}





/*fonts*/














